body {
    font-family:arial;
    margin-left: auto;
	margin-right: auto;
}

i {
    color:green;
}

#MyApp {

}

#AddItem, #CheckedList, #UncheckedList, #items {
	text-align: center;
	/*border-style: solid;
	border-width: 2px;*/
	margin-bottom: 5px;
}

form {
	padding-bottom: 10px;
}

.wide-td {
	padding-right: 20px;
}

table {
	margin: 10px auto !important;
	float: none !important;
}

td {
  text-align: center;
  padding: 0px !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
}

.item-unchecked td {
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#inputField {
	margin-top: 15px;
}

.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none;
}
